.portalBody {
    width: 100%;
    height: 85vh;

    display: flex;
    justify-content: center;
}

.portalContent {
    width: 90%;
    height: 85vh;


    order: 1;

    margin-right: 30px;
}

/* ==== Header ==== */
.headerWrapper {
    width: 100%;
    height: 10vh;

    display: flex;

}

.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headerEmptyDiv,
.headerLogoWrapper,
.headerUserInfo {
    width: 30%;
    height: auto;
}

.headerLogoWrapper {
    display: flex;
    justify-content: center;
}



.headerLogo {
    width: 130px;
    height: auto;
}

.headerUserInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 20px;
}

.headerSupportWrapper,
.headerAvatarWrapper {
    margin-left: 40px;
    
}

.headerSupportWrapper,
.headerTarifWrapper {
    padding: 8px 20px;

    font-size: 16px;
    text-align: center;

    transition: .2s;
}

.headerSupportWrapper:hover,
.headerTarifWrapper:hover {
    opacity: .3;
}

.headerSupportWrapper {
    border: none;
}
.headerTarifWrapper {
    border: 2px solid #92B7FF;
    border-radius: 10px;
}

.headerAvatar {
    width: 60px;
    height: auto;
}



/* Footer */
.footerWrapper {
    width: 5%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 20px;

    border-radius: 20px;

    background-color: #fff;
}

.footer {
    height: 65%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footerIconWrapper {
    display: flex;
    justify-content: center;
}

.footerIcon {
    width: 30px;
    height: auto;

    transition: .2s all;
}

.iconChat {
    width: 50px;
}

.footerIcon:hover {
    opacity: .3;
}

.footerLine {
    width: 70%;
    height: 1px;

    margin: 40px 0;
}