@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway-Italic-VariableFont_wght.ttf') format('ttf'),
       url('/fonts/Raleway-VariableFont_wght.ttf') format('ttf'),
       url('/fonts/static/Raleway-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Оптимизация загрузки шрифтов */
}

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;

}

.dNone {
  display: none;
}

.dBlock {
  display: block;
}

.dFlex {
  display: flex;
}

.opacityNone {
  opacity: 0;
}

.opacityFull {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #060606;
}

h1, h2, h3, h4, h5, h6, p, body {
  margin: 0;
}

body {
  background-color: #F0F0F8;
}

.landingMargin {
  margin: 0 50px;
}

.textColorBlack {
  color: #060606;
}

.textColorWhite {
  color: #FEFEFE;
}


.pinkBg {
  background-color: #F27DC3;
}

.purpleBg {
  background-color: #878ED2;
}

.greenBg {
  background-color: #5EDCC3;
}

.blueBg {
  background-color: #92B7FF;
}

.mobileVersion {
  display: none;
}
.desctopVersion {
  display: block;
}

.desctopVersionFlex {
  display: flex;
}

.divContainer {
  padding: 25px;

  border-radius: 15px;
}

.mainHeadline {
  font-size: 40px;
  font-weight: 300;
}

