@media screen and (max-width: 1024px) {
    /* ==== Welcome ==== */
    .indexPortalWelcomWrapper {
        width: 100%;

        margin-top: 60px;
    }

    .indexPortalHello {
        font-size: 22px;
    }

    .indexPortalWelcom {
        font-size: 40px;
    }

    .indexPortalWelcomInputWrapper {
        margin: 0;
        padding: 20px 30px;
    }

    .indexPortalSearchIcon {
        width: 45px;
    }

    .indexPortalSeatchText,
    .indexPortalSelectTheme {
        font-size: 22px;
    }

    .indexPortalSelectTheme {
        padding-left: 30px;
    }

    .indexPortalDropDownThemsWrapper {
        width: 90%;
    }

    .indexPortalDropDownItem {
        font-size: 22px;
    }

    .indexPortalIconGoLeft {
        width: 15px;
    }

    /* ==== MyModules ==== */
    .myModulesWrapper {
        width: 55%;

        margin-top: 60px;
    }

    .myModulesHeadlineAndSort {

        margin-bottom: 15px;
    }

    .myModulesHeadline {
        font-size: 30px;
    }

    .myModulesItemNameWrapper {
        height: 50px;
        overflow-y: scroll;
    }

    .myModulesItemName {
        font-size: 22px;
    }

    /* ==== EveryDayPractic ==== */
    .everyDayPracticWrapper {
        width: 40%;

        margin-top: 60px;
    }

    .everyDayPracticHeadline {
        font-size: 30px;
    }

    .everyDayPracticDescription {
        font-size: 16px;
    }

    .everyDayPracticButton {
        font-size: 16px;
    }

    .everyDayPracticButton {
        height: 50px;
    }

    /* ==== LeadersBoard ==== */
    .leadersBoardWrapper {
        width: 48%;

        margin-top: 60px;
    }

    .leadersBoardHeadline {
        font-size: 30px;
    }

    .leadersBoardPlace {
        font-size: 18px;
    }

    .leadersBoardLeaderAvatar {
        width: 80px;
        margin: 0 15px;
    }

    .leadersBoardName {
        font-size: 18px;
    }
    
    .leadersBoardScore {
        font-size: 16px;
        font-weight: 600;
    }

    /* calendar */
    .calendar {
        width: 48%;

        margin-top: 60px;
    }

}

@media screen and (max-width: 576px) {
    .divContainer {
        padding: 20px  15px;
    }
    
    /* ==== Welcome ==== */
    .indexPortalWelcomWrapper {
        width: 100%;

        padding: 0;
        margin-top: 40px;

        background: none;
    }

    .indexPortalHello {
        font-size: 16px;
    }

    .indexPortalWelcom {
        margin: 20px 0;

        font-size: 35px;
    }

    .indexPortalWelcomInputWrapper {
        padding: 7px 10px;
    }

    .indexPortalSearchIcon {
        width: 25px;
        margin-right: 5px;
    }

    .indexPortalSeatchText,
    .indexPortalSelectTheme {
        font-size: 14px;
    }

    .indexPortalSelectTheme {
        padding-left: 10px;
    }

    .indexPortalDropDownThemsWrapper {
        width: 100%;
    }

    .indexPortalDropDownItemWrapper {
        padding: 10px 15px;
    }

    .indexPortalDropDownItem {
        font-size: 14px;
    }

    .indexPortalIconGoLeft {
        width: 15px;
    }

    /* ===== MyModules ===== */
    .myModulesHeadlineAndSort {
        margin-bottom: 30px;
    }
    .myModulesWrapper {
        width: 100%;

        margin-top: 40px;
    }

    .myModulesHeadline {
        font-size: 22px;
    }

    .myModulesSortText {
        display: none;
    }

    .myModulesSortIcon {
        width: 20px;
    }
    
    .myModulesSortDropDown {
        width: none;
    }

    .myModuleGoRight,
    .myModulesGoLeft {
        width: 12px;
        height: auto;
    }

    .myModulesItem {
        min-width: 130px;
        height: 170px;

        align-items: center;
    }

    /* .myModulesItemAuthorWrapper, */
    .myModulesItemNameWrapper{
        height: 50px;
        overflow-y: scroll;
    }


    .myModulesItemNameWrapper {
        margin-top: 15px;
    }

    .myModulesItemName {
        font-size: 20px;
    }

    /* === EveryDayPractic ==== */
    .everyDayPracticWrapper {
        width: 100%;

        margin-top: 20px ;
    }

    .everyDayPracticHeadline {
        font-size: 22px;
    }

    .everyDayPracticDescription {
        font-size: 16px;
    }

    .everyDayPracticButton {
        font-size: 14px;
        font-weight: 600;
    }

    /* ==== LeadersBoard ==== */
    .leadersBoardWrapper {
        width: 100%;
    }

    .leadersBoardHeadline {
        font-size: 22px;
    }

    .leadersBoardPlace {
        font-size: 12px;
    }

    .leadersBoardLeaderAvatar {
        width: 50px;

        margin: 0 10px;
    }

    .leadersBoardScoreWrapper {
        width: 40%;
    }

    .leadersBoardScore,
    .leadersBoardName {
        font-size: 16px;
    }

    /* calendar */

    .calendar {
        width: 100%;

        margin-bottom: 70px;
    }
}