.indexPortal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* ==== indexPortalWelcomWrapper ==== */
.indexPortalWelcomWrapper {
    

    position: relative;
    width: 50%;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    background-color: #fff;
}
.indexPortalHello {
    font-size: 16px;
}

.indexPortalWelcom {
    margin: 15px 0;

    font-size: 40px;
    font-weight: 300;
}

.indexPortalWelcomInputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 40px;
    padding: 20px;

    border-radius: 15px;

    cursor: pointer;
}

.indexPortalWelcomInputWrapper:active {
    opacity: .8;
}

.indexPortalIconTextWrapper {
    display: flex;
    align-items: center;

}



.indexPortalSearchIcon {
    width: 30px;
    height: auto;

    margin-right: 10px;

    font-size: 16px;
}

.indexPortalSelectThemeWrapper {
    border-left: 1px solid #FEFEFE;
}

.indexPortalSeatchText,
.indexPortalSelectTheme {
    font-size: 16px;
}

.indexPortalSelectTheme {
    padding-left: 20px;
}


.indexPortalDropDownThemsWrapper {
    position: absolute;
    z-index: 100;

    margin-top: 10px;

    width: 90%;

    padding: 15px;

    border-radius: 15px;
}

.indexPortalDropDownThems {
    height: 250px;

    border-radius: 15px;

    overflow-y: scroll;
}

.indexPortalDropDownThems::-webkit-scrollbar {
    width: 4px;
}
.indexPortalDropDownThems::-webkit-scrollbar-track {
    background: #BFD5FF; /* Цвет фона трека */
    border-radius: 4px;
}

.indexPortalDropDownThems::-webkit-scrollbar-thumb {
    background: #fff; /* Цвет фона трека */
    border-radius: 4px;
}

.indexPortalDropDownThems::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}

.indexPortalDropDownThems-scroll {
    scrollbar-width: 4px; /* "auto" | "thin" | "none" */
    scrollbar-color: #fff #BFD5FF; /* thumb track */
  }
.indexPortalDropDownItemWrapper {
    width: 90%;

    padding: 20px 20px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;

    border-radius: 15px;

    transition: .2s;

}
.indexPortalDropDownItemWrapper:hover {
    opacity: .8;
}

.indexPortalDropDownItem {
    font-size: 16px;
}

.indexPortalIconGoLeft {
    width: 10px;
    height: auto;
}


/* ==== MyModules ==== */
.myModulesCarouselAndArrows {
    display: flex;
    align-items: center;
}
.myModulesWrapper {
    width: 40%;
    

    background-color: #fff;
}

.myModules {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myModulesHeadlineAndSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.myModulesHeadline {
    font-size: 27px;
}

.myModulesSortAndDropdownWrapper {
    position: relative;

    display: flex;
    align-items: center;

    cursor: pointer;

    translate: .3s all;
}



.myModulesSortDropDown {
    position: absolute;
    bottom: -10;
    right: 10px;
    transform: translateY(100%);
    z-index: 90;

    width: 170px;

    padding: 15px;

    display: flex;
    flex-direction: column;

    background-color: #F4F8FF;

    border-radius: 10px;
}

.myModulesSortItem {
    font-size: 16px;
    padding: 5px 0;
}

.myModulesSortItem:hover {
    opacity: .3;
}

.myModulesSortText {
    display: inline-block;

    margin-right: 20px;

    font-size: 16px;
}

.myModulesSortIcon {
    width: 25px;
    height: auto;
}



.myModulesCarousel {
    display: flex;
    height: 100%;

    transition: .15s;
}

.myModulesCarouselAndGoLeft {
    position: relative;

    margin-top: 20px;
}

.myModulesCarouselWrapper {
    margin: 0 5px;

    border-radius: 15px;

    overflow-x: hidden;
}



.myModulesItem {
    min-width: 170px;
    min-height: 100%;

    width: 170px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 10px;
    padding: 10px 20px;

    text-align: center;

    border-radius: 15px;
}


.myModulesItemNameWrapper {
    height: 50px;
    overflow-y: scroll;
}

.myModulesItemNameWrapper::-webkit-scrollbar{
    width: 3px;
}

.myModulesItemNameWrapper::-webkit-scrollbar-track{
    width: 1px;
    background-color: rgba(255, 255, 255, .4);
}

.myModulesItemNameWrapper::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: rgba(255, 255, 255, .8);
}


.myModulesItemName {
    font-size: 18px;
}

.myModulesItemAuthorWrapper {
    margin: 12px 0;
}

.myModulesItemAuthor {
    

    font-size: 13px;
}

.myModulesItemProgress {
    font-size: 30px;
}

.myModulesButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;

    border: none;
    border-radius: 5px;
}

.myModulesButton:hover {
    opacity: .3;
}

/* ==== EveryDayPractic ==== */

.everyDayPracticWrapper {
    width: 30%;

    background-color: #fff;

    margin-top: 20px;
}


.everyDayPracticHeadline {
    font-size: 27px;
    font-weight: 300;
}

.everyDayPracticDescriptionWrapper {
    margin: 10px 0 20px 0;
}

.everyDayPracticDescription {
    font-size: 16px;
    color: #B7B3B3;
}

.everyDayPracticButton {
    width: 100%;
    height: 45px;

    font-size: 16px;
    font-weight: 600;

    border: none;
    border-radius: 15px;

    translate: .3s all;
}

.everyDayPracticButton:hover {
    opacity: .3;
}

/* ==== LeadersBoard ==== */
.leadersBoardWrapper {
    width: 30%;

    margin-top: 20px;

    background-color: #fff;
}

.leadersBoardHeadline {
    font-size: 27px;
    font-weight: 300;
}



.leadersBoardItem {
    display: flex;
    align-items: center;

    margin-top: 5px;
}

.leadersBoardPlaceAvatarNameWrapper {
    display: flex;
    align-items: center;

    /* margin-right: 40px; */
}

.leadersBoardPlace {
    font-size: 16px;
    font-weight: 600;
}

.leadersBoardLeaderAvatar {
    display: inline-block;
    
    width: 50px;
    height: auto;

    margin: 0 20px;
}

.leadersBoardNameWrapper {
    width: 100%;
}

.leadersBoardName {
    display: inline-block;

    font-size: 16px;
}

.leadersBoardScoreWrapper {
    width: 30%;
}

.leadersBoardScore {
    font-size: 16px;
    color: #92B7FF;
}

/* ==== Calendar ==== */


.calendar {
    width: 30%;

    margin-top: 20px;
    
    background-color: #fff;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
}

.calendarButtonsWrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.calendarHeadline {
    margin: 0;

    font-weight: 300;
    text-transform: capitalize;
}

.navButton {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.navButton:hover {
    background: #f0f0f0;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dayName {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.day {
    text-align: center;
    padding: 15px;
    border: 1px solid #eee;
    cursor: pointer;
    transition: background 0.2s;
}


.today {
    background: #92B7FF;
    color: white;
    font-weight: bold;
}

.otherMonth {
    color: #999;
    background: #f5f5f5;
}

.day {
    position: relative;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.activeDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
}

/* ==== TopicModule ==== */
.topicModuleHeadline {
    font-size: 45px;
    font-weight: 300;
}

.topicModuleItemsWrapper {
    height: 80vh;

    padding-right: 10px;

    overflow-y: scroll;

}

.topicModuleItemsWrapper::-webkit-scrollbar {
    width: 4px;
}
.topicModuleItemsWrapper::-webkit-scrollbar-track {
    background: #BFD5FF; /* Цвет фона трека */
    border-radius: 4px;
}

.topicModuleItemsWrapper::-webkit-scrollbar-thumb {
    background: #fff; /* Цвет фона трека */
    border-radius: 4px;
}

.topicModuleItemsWrapper::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}

.topicModuleItemsWrapper-scroll {
    scrollbar-width: 4px; /* "auto" | "thin" | "none" */
    scrollbar-color: #fff #BFD5FF; /* thumb track */
  }

.topicModuleItem {
    height: 100px;

    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;

    transition: .2s all;
}



.topicModuleAuthorAndJobWrapper {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.topicModuleAuthor {
    font-size: 25px;
}

.topicModuleJob {
    margin-top: 5px;

    font-size: 15px;
}

.topicModuleThemeNameWrapper {
    width: 40%;
    height: 50px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.topicModuleDate,
.topicModuleThemeName {
    font-size: 20px;
}

.topicModuleDateWrapper {
    width: 10%;
}

.topicModuleButton {
    width: 15%;
    height: 40px;

    border-radius: 15px;
    border: none;

    font-size: 18px;

    transition: .3s all;

}

.topicModuleButton:hover {
    opacity: .3;
}

/* ==== Preview ==== */

.preview {
    width: 100%;

    display: flex;
    justify-content: space-between;
    
}

.previewDescriptionModule {
    width: 50%;
}

.previewDescriptionHeadline {
    margin-bottom: 20px;

    font-size: 35px;
    font-weight: 300;
}

.previewDescription {
    font-size: 20px;
    line-height: 30px;
    
}

.previewDescriptionTimeAuthorJob {
    display: flex;
    flex-direction: column;

    margin: 30px 0;
}




.previewDescriptionTime {
    font-size: 16px;
}

.previewDescriptionAuthor,
.previewDescriptionJob {
    font-size: 14px;
    font-weight: 600;

    margin-top: 10px;
}


.previewHowPersonLearnWrppaer {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

.previewHowPersonLearnGrayBg,
.previewHowPersonLearnAvatar {
    width: 50px;
    height: auto;

    border: 2px solid #F0F0F8;
    border-radius: 50%;
}

.previewHowPersonLearnGrayBgWrapper {
    position: relative;
}

.previewHowPersonLearnCountLearn {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: #fff;
    font-size: 14px;
}

.previewHowPersonLearnMargin {
    margin-left: -20px;
}

.previewLearnThisModuleWrapper {
    margin-left: 15px;
}

.previewLearnThisModule {
    font-size: 16px;
}

.previewOpenTaskButton {
    width: 250px;
    height: 60px;

    border: none;
    border-radius: 15px;
    
    font-size: 18px;

    transition: .3s all;
}

.previewOpenTaskButtonTablet {
    display: none;
}

.previewOpenTaskButton:hover {
    opacity: .3;
}



.previewTaskExampleWrapper {
    width: 40%;

}

.previewTaskExampleHeadlineWrapper {
    margin-bottom: 20px;
}

.previewTaskExampleHeadline {
    font-weight: 300;
    text-align: center;
}

.previewTaskExample {
    background-color: #fff;
}

.previewTaskExampleContent {
    margin-bottom: 20px;
}

.previewTaskExampleTitle {
    font-size: 18px;
}

.previewTaskExampleBody {
    margin-top: 10px;
}

.previewTaskExampleQuestions {
    display: flex;
    flex-direction: column;
}

/* ==== Task ==== */

.taskQuestionAndInspectionDataWrapper {
    height: 15vh;

    overflow-y: scroll;

}

.taskQuestionAndInspectionDataWrapper::-webkit-scrollbar {
    width: 4px;
}
.taskQuestionAndInspectionDataWrapper::-webkit-scrollbar-track {
    background: #BFD5FF; /* Цвет фона трека */
    border-radius: 4px;
}

.taskQuestionAndInspectionDataWrapper::-webkit-scrollbar-thumb {
    background: #fff; /* Цвет фона трека */
    border-radius: 4px;
}

.taskQuestionAndInspectionDataWrapper::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}

.taskQuestionAndInspectionDataWrapper-scroll {
    scrollbar-width: 4px; /* "auto" | "thin" | "none" */
    scrollbar-color: #fff #BFD5FF; /* thumb track */
  }
.taskQuestion {
    font-size: 18px;
    line-height: 30px;
}

.taskInspectionDataWrapper {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 20px 10px 20px 0;

}

.taskInspectionDataItem {
    position: relative;

    width: 30%;

    margin-top: 20px;
}

.taskInspectionDataItemHeader {
    cursor: pointer;
    height: 65px;

    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background-color: #fff;

    border-radius: 15px;
}

.taskForwardDisplay {
    display: none;
}

.taskInspectionDataHeadline {
    width: 100%;

    font-size: 18px;
    color: #92B7FF;
}

.taskInspectionDataItemBody {
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 1000;

    margin-top: 5px;

    background-color: #fff;

    border: 2px solid #F0F0F8;
}

.taskBodyDisplay {
    display: none;
}

.taskInspectionDataItemBodyData {
    font-size: 16px;
}

.questionsHeadline {
    font-size: 25px;
    font-weight: 300;

    margin-bottom: 20px;
}

.questionInputs {
    height: 30vh;

    padding-right: 10px;

    overflow-y: scroll;

}


.questionInputs::-webkit-scrollbar {
    width: 4px;
}
.questionInputs::-webkit-scrollbar-track {
    background: #BFD5FF; /* Цвет фона трека */
    border-radius: 4px;
}

.questionInputs::-webkit-scrollbar-thumb {
    background: #fff; /* Цвет фона трека */
    border-radius: 4px;
}

.questionInputs::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}

.questionInputs-scroll {
    scrollbar-width: 4px; /* "auto" | "thin" | "none" */
    scrollbar-color: #fff #BFD5FF; /* thumb track */
  }

.questionHeadlineAndInput {
    margin-bottom: 10px;
}

.questionInput {
    width: 100%;
    height: 50px;

    padding-left: 20px;

    font-size: 16px;

    border: none;
    border-radius: 15px;
    outline: none;

    transition: .3s all;
}

.questionHeadlineWrapper {
    margin-bottom: 5px;
}
.questionHeadline {
    font-size: 17px;
}


.questionInput:focus,
.questionInput:hover {
    outline: 1px solid #92B7FF;
}

.taskSendWrapper {
    display: flex;
    justify-content: flex-end;

    margin-top: 30px;
}

.taskSend {
    width: 200px;
    height: 45px;

    font-size: 16px;
    
    border-radius: 15px;
    border: none;
    outline: none;

    transition: .3s all;
}

.taskSend:hover {
    opacity: .3;
}

/* ==== MyProfile ==== */
.myProfileWrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px 40px;
    
    background-color: #fff;

    border-radius: 40px;
}
.myProfile {
    /* height: 100%; */

 
}
/* HeaderProfile */
.myProfileHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 40px;
}

.myProfileChange {
    width: 150px;
    height: 40px;

    font-size: 16px;

    border-radius: 10px;
    border: none;

    transition: .3s;
}

.myProfileChangePancel {
    display: none;
}

.myProfileChange:hover {
    opacity: .2;
}

.myProfileInfoAvatarWrapper {
    margin-right: 20px;
}

.myProfileInfoAvatar {
    width: 130px;
    height: auto;
}

/* BodyProfile */
/* AvatarAndPersonName */
.myProfileBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myProfileCol {
    width: 50%;
}

.myProfileInfoWrapper {
    display: flex;
    align-items: center;
}

.myProfileInfoNameBirthdateWrapper {
    display: flex;
    flex-direction: column;
}

.myProfileInfoName {
    font-size: 16px;

    margin-bottom: 10px;

    letter-spacing: 1px;
}

.myProfileInfoBirthdate {
    margin-bottom: 10px;

    font-size: 16px;
    letter-spacing: 1px;
}

.myProfileInfoTelGmailWrapperMobileV {
    display: none;
}

.myProfileInfoTelWrapper,
.myProfileInfoGmailWrapper {
    display: flex;
    align-items: center;
}

.myProfileInfoTelGmailIcon {
    margin-right: 10px;
}

.myProfileInfoTelGmail {
    letter-spacing: 1px;
}

/* InfoCityUniverSpecial */

.myProfileInfoPropWrapper {
    margin-bottom: 10px;
}

.myProfileInfoProp {
    font-size: 16px;
    letter-spacing: 1px;
}

/* === FooterProfile === */
.myProfileFooter {
    display: flex;
}

/* Tarif */
.myProfileTarifWrapper {
    margin-top: 50px;
    height: 40vh;
}

.myProfileTarif {
    width: 80%;

    padding: 30px;

    border-radius: 20px;
    border: 3px solid #BFD5FF;
}

.myProfileTarifHeadlineWrapper {
    margin-bottom: 20px;
}

.myProfileTarifHeadline {
    font-size: 30px;
    font-weight: 300;
}

.myProfileTarifOffersWrapper {
    padding-left: 25px;
}


.myProfileTarifOffer {
    margin: 5px 0;

    font-size: 16px;
    
}

.myProfileTarifOffer::marker {
    color: #BFD5FF;
}

/* BuyProVersion */
.buyProVersionWrapper {
    margin-top: 50px;
}

.buyProVersion {
    width: 80%;

    padding: 40px 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F0F0F8;

    border-radius: 20px;
}

.buyProVersionTextP {
    font-size: 40px;
}

.buyProVersionTextSpan {
    color: #92B7FF;
}

.upgradeStars {
    width: 170px;
    height: auto;
}

.buyProVersionPoliticsOfertaWrapper {
    width: 80%;

    margin-top: 40px;

    display: flex;
    justify-content: space-between;
}

.buyProVersionPoliticsOferta {
    font-size: 16px;
    letter-spacing: 1px;
}

/* ==== Chat ==== */

.chatWrapper {
    width: 100%;

    display: flex;
    justify-content: center;
}

.chat {
    width: 70%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}

/* HeaderChat */
.headerChatWrapper {
    width: 100%;

    display: flex;
    justify-content: center;

    border-radius: 15px;
    border: 2px solid #92B7FF;
}

.headerChat {
    display: flex;
    align-items: center;

    padding: 5px 0;
}

.headerChatAvatar {
    width: 50px;
    height: auto;

    margin-right: 20px;

}

.headerChatName {
    font-size: 18px;
    color: #92B7FF;
}

/* bodyChat */

.bodyChatWrapper {
    margin: 30px 0;
}

.bodyChatItemWrapper {
    width: 100%;

    /* background-color: red; */

    margin-bottom: 20px;
}

.bodyChat {
    height: 55vh;
    overflow-y: scroll;

    scroll-behavior: smooth;

    padding-right: 10px;
}

.bodyChat::-webkit-scrollbar {
    width: 4px;
}
.bodyChat::-webkit-scrollbar-track {
    background: #BFD5FF; /* Цвет фона трека */
    border-radius: 4px;
}

.bodyChat::-webkit-scrollbar-thumb {
    background: #fff; /* Цвет фона трека */
    border-radius: 4px;
}

.bodyChat::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}



.bodyChatMessageWrapper.meMessage {
    margin-left: 0;
    margin-right: 20px;
    order: -1;
}

.bodyChatItem {

    display: flex;
}

.chatMe {
    display: flex;
    flex-direction: row; /* Меняем направление flex */
    align-items: flex-end;
    justify-content: flex-end;

    /* background-color: red; */

}

.chatInterlocutor {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    
}


.bodyChatAvatar {
    width: 40px;
    height: auto;
}

.bodyChatMessageWrapper {
    width: auto;
    max-width: 40%;

    margin-left: 20px;
    padding: 15px 10px;

    background-color: #fff;

    border-radius: 10px;
}

/* FooterChat */

.footerChat {
    max-height: 100px;

    padding: 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    background-color: #fff;

    border-radius: 15px;
}

.footerChatInputWrapper {
    width: 85%;

}

.footerChatTextarea {
    width: 100%;
    min-height: 20px;
    max-height: 80px;

    border: none;
    outline: none;

    resize: none;
    overflow-y: none;
}

.footerChatTextarea::-webkit-scrollbar {
    width: 4px;
}
.footerChatTextarea::-webkit-scrollbar-track {
    background: #BFD5FF; /* Цвет фона трека */
    border-radius: 4px;
}

.footerChatTextarea::-webkit-scrollbar-thumb {
    background: #fff; /* Цвет фона трека */
    border-radius: 4px;
}

.footerChatTextarea::-webkit-scrollbar-thumb:hover {
    background: #555; /* Цвет при наведении */
}


.footerChatButtonsWrapper {
    width: 15%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.footerChatSIconPlus {
    width: 25px;
    height: auto;

    transition: .3s all;
}

.footerChatSIconPlus:hover {
    opacity: .3;
}

.footerChatButtonSend {
    width: 60px;
    height: 40px;

    border: none;
    border-radius: 10px;

    transition: .3s all;
}

.footerChatImgSendAir {
    width: 25px;
    height: auto;
}

.footerChatButtonSend:hover {
    opacity: .3;
}