@media screen and (max-width: 1024px) {
    /* ==== Welcome ==== */
    .indexPortalWelcomWrapper {
        width: 100%;

        margin-top: 60px;
    }

    .indexPortalHello {
        font-size: 22px;
    }

    .indexPortalWelcom {
        font-size: 40px;
    }

    .indexPortalWelcomInputWrapper {
        margin: 0;
        padding: 20px 30px;
    }

    .indexPortalSearchIcon {
        width: 45px;
    }

    .indexPortalSeatchText,
    .indexPortalSelectTheme {
        font-size: 22px;
    }

    .indexPortalSelectTheme {
        padding-left: 30px;
    }

    .indexPortalDropDownThemsWrapper {
        width: 90%;
    }

    .indexPortalDropDownItem {
        font-size: 22px;
    }

    .indexPortalIconGoLeft {
        width: 15px;
    }

    /* ==== MyModules ==== */
    .myModulesWrapper {
        width: 55%;

        margin-top: 60px;
    }

    .myModulesHeadlineAndSort {

        margin-bottom: 15px;
    }

    .myModulesHeadline {
        font-size: 30px;
    }

    .myModulesItemNameWrapper {
        height: 50px;
        overflow-y: scroll;
    }

    .myModulesItemName {
        font-size: 22px;
    }

    /* ==== EveryDayPractic ==== */
    .everyDayPracticWrapper {
        width: 40%;

        margin-top: 60px;
    }

    .everyDayPracticHeadline {
        font-size: 30px;
    }

    .everyDayPracticDescription {
        font-size: 16px;
    }

    .everyDayPracticButton {
        font-size: 16px;
    }

    .everyDayPracticButton {
        height: 50px;
    }

    /* ==== LeadersBoard ==== */
    .leadersBoardWrapper {
        width: 48%;

        margin-top: 60px;
    }

    .leadersBoardHeadline {
        font-size: 30px;
    }

    .leadersBoardPlace {
        font-size: 18px;
    }

    .leadersBoardLeaderAvatar {
        width: 80px;
        margin: 0 15px;
    }

    .leadersBoardName {
        font-size: 18px;
    }
    
    .leadersBoardScore {
        font-size: 16px;
        font-weight: 600;
    }

    /* calendar */
    .calendar {
        width: 48%;

        margin-top: 60px;
    }

    /* ==== TopicModule ==== */
    .topicModuleItem {
        height: 150px;
    }

    .topicModuleAuthor {
        font-size: 25px;
    }

    .topicModuleJob {
        font-size: 16px;
    }

    .topicModuleThemeName {
        font-size: 22px;
    }

    .topicModuleButton {
        height: 45px;
    }

    .topicModuleLearn {
        font-size: 20px;
    }
    
    /* ==== Preview ==== */
    .preview {
        flex-direction: column;
    }

    .previewDescriptionModule {
        width: 100%;
    }

    .previewDescriptionHeadline {
        font-size: 40px;
    }

    .previewDescription {
        width: 90%;

        font-size: 20px;
        line-height: 30px;
    }

    .previewDescriptionAuthor,
    .previewDescriptionJob,   
    .previewDescriptionTime {
        font-size: 20px;
    }


    .previewHowPersonLearnGrayBg,
    .previewHowPersonLearnAvatar {
        width: 55px;
    }

    .previewHowPersonLearnCountLearn {
        font-size: 16px;
    }

    .previewLearnThisModule {
        font-size: 18px;
    }

    .previewOpenTaskButtonDesctopAndMobile {
        display: none;
    }

    .previewOpenTaskButtonTablet {
        display: block;

        margin-top: 20px;
    }

    .previewTaskExampleWrapper {
        width: 100%;

        margin-bottom: 80px;
    }

    .previewTaskExampleHeadline {
        text-align: left;
    }

    .previewTaskExampleTitle {
        font-size: 20px;
    }

    .previewTaskExampleBody {
        font-size: 18px;
    }

    /* ==== Task ==== */
    .taskWrapper {
        padding-bottom: 60px;
    }

    .taskQuestion {
        font-size: 22px;
        line-height: 40px;
    }

    .taskInspectionDataItem {
        width: 48%;
    }

    .taskInspectionDataItemHeader {
        height: 80px;
    }

    .taskInspectionDataHeadline {
        font-size: 20px;
    }

    .taskForward {
        width: 40px;
    }

    .taskInspectionDataItemBodyData {
        font-size: 20px;
    }


    .questionHeadlineAndInput {
        margin-bottom: 40px;
    }

    .questionsHeadline {
        font-size: 35px;
    }

    .questionHeadlineWrapper {
        margin-bottom: 20px;
    }

    .questionHeadline {
        font-size: 25px;
    }

    .questionInputs {
        height: 40vh;
    }

    .questionInput {
        height: 70px;
    }

    .taskSendWrapper {
        margin-top: 50px;
    }

    .taskSend {
        width: 300px;
        height: 60px;

        font-size: 20px;
    }

    /* ==== MyProfile ===== */
    
    .myProfileWrapper {
        height: auto;
    }

    .myProfileChange {
        font-size: 18px;
    }

    .myProfileTarifWrapper {
        height: auto;
    }

    .myProfileInfoName {
        font-size: 20px;
        font-weight: 600;
    }

    .myProfileInfoProp,
    .myProfileInfoTelGmail,
    .myProfileInfoBirthdate {
        font-size: 18px;
    }

    .myProfileTarif {
        width: 90%;
    }

    .myProfileTarif {
        padding: 15px;
    }

    .myProfileTarifHeadlineWrapper {
        margin-bottom: 10px;
    }

    .myProfileTarifHeadline {
        font-size: 25px;
    }

    .myProfileTarifOffer {
        font-size: 18px;
    }

    .buyProVersion {
        width: 100%;
    }

    .buyProVersionTextP {
        font-size: 30px;
    }

    .buyProVersionPoliticsOfertaWrapper {
        width: 100%;
        justify-content: space-between;
    }

    .buyProVersionPoliticsOferta {
        font-size: 15px;
    }

    .upgradeStars {
        width: 220px;
    }

    /* ===== Chat ===== */
    .chat {
        width: 100%;
    }

    .headerChatAvatar {
        width: 55px;
    }

    .headerChatName {
        font-size: 22px;
    }

    .bodyChat {
        height: 65vh;
    }

    .bodyChatAvatar {
        width: 50px;
    }

    .bodyChatItemWrapper {
        margin-bottom: 30px;
    }

    .bodyChatMessageWrapper {
        max-width: 70%;
    }

    .bodyChatMessage {
        font-size: 18px;
    }

    .footerChat {
        height: 80px;
        max-height: 100px;
    }

    .footerChatTextarea {
        font-size: 20px;
    }
        
}

@media screen and (max-width: 576px) {
    .divContainer {
        padding: 20px  15px;
    }
    
    /* ==== Welcome ==== */
    .indexPortalWelcomWrapper {
        width: 100%;

        padding: 0;
        margin-top: 40px;

        background: none;
    }

    .indexPortalHello {
        font-size: 16px;
    }

    .indexPortalWelcom {
        margin: 20px 0;

        font-size: 35px;
    }

    .indexPortalWelcomInputWrapper {
        padding: 7px 10px;
    }

    .indexPortalSearchIcon {
        width: 25px;
        margin-right: 5px;
    }

    .indexPortalSeatchText,
    .indexPortalSelectTheme {
        font-size: 14px;
    }

    .indexPortalSelectTheme {
        padding-left: 10px;
    }

    .indexPortalDropDownThemsWrapper {
        width: 100%;
    }

    .indexPortalDropDownItemWrapper {
        padding: 10px 15px;
    }

    .indexPortalDropDownItem {
        font-size: 14px;
    }

    .indexPortalIconGoLeft {
        width: 15px;
    }

    /* ===== MyModules ===== */
    .myModulesHeadlineAndSort {
        margin-bottom: 30px;
    }
    .myModulesWrapper {
        width: 100%;

        margin-top: 40px;
    }

    .myModulesHeadline {
        font-size: 22px;
    }

    .myModulesSortText {
        display: none;
    }

    .myModulesSortIcon {
        width: 20px;
    }
    
    .myModulesSortDropDown {
        width: none;
    }

    .myModuleGoRight,
    .myModulesGoLeft {
        width: 12px;
        height: auto;
    }

    .myModulesItem {
        min-width: 130px;
        height: 170px;

        align-items: center;
    }

    /* .myModulesItemAuthorWrapper, */
    .myModulesItemNameWrapper{
        height: 50px;
        overflow-y: scroll;
    }


    .myModulesItemNameWrapper {
        margin-top: 15px;
    }

    .myModulesItemName {
        font-size: 20px;
    }

    /* === EveryDayPractic ==== */
    .everyDayPracticWrapper {
        width: 100%;

        margin-top: 20px ;
    }

    .everyDayPracticHeadline {
        font-size: 22px;
    }

    .everyDayPracticDescription {
        font-size: 16px;
    }

    .everyDayPracticButton {
        font-size: 14px;
        font-weight: 600;
    }

    /* ==== LeadersBoard ==== */
    .leadersBoardWrapper {
        width: 100%;
    }

    .leadersBoardHeadline {
        font-size: 22px;
    }

    .leadersBoardPlace {
        font-size: 12px;
    }

    .leadersBoardLeaderAvatar {
        width: 50px;

        margin: 0 10px;
    }

    .leadersBoardScoreWrapper {
        width: 40%;
    }

    .leadersBoardScore,
    .leadersBoardName {
        font-size: 16px;
    }

    /* calendar */

    .calendar {
        width: 100%;
        min-height: 350px;

        margin-bottom: 70px;

    }

    /* TopicModule */
    .topicModuleHeadline {
        font-size: 35px;
    }
    
    .topicModuleItem {
        flex-direction: column;
        height: 40%;
    }

    .topicModuleAuthorAndJobWrapper,
    .topicModuleThemeNameWrapper,
    .topicModuleDateWrapper,
    .topicModuleButton {
        width: 100%;
    }

    .topicModuleThemeNameWrapper {
    }

    .topicModuleAuthor {
        font-size: 20px;
    }

    .topicModuleJob {
        font-size: 12px;
    }

    .topicModuleThemeName {
        font-size: 16px;
    }

    .topicModuleDate {
        font-size: 15px;
    }

    /* === Preview ===  */
    .preview {
        flex-direction: column;
    }

    .previewDescriptionModule {
        width: 100%;
    }

    .previewDescription {
        font-size: 18px;
        line-height: 25px;
    }

    .previewDescriptionTimeAuthorJob {
        margin: 30px 0;
    }

    .previewHowPersonLearnGrayBg,
    .previewHowPersonLearnAvatar {
        width: 40px;
    }

    .previewHowPersonLearnCountLearn {
        font-size: 11px;
    }

    .previewLearnThisModule {
        font-size: 14px;
    }

    .previewOpenTaskButton {
        width: 100%;
        height: 45px;
    }

    .previewTaskExampleWrapper {
        width: 100%;

        margin-top: 30px;
        margin-bottom: 60px;
    }

    .previewTaskExampleHeadline {
        text-align: left;
    }

    .previewOpenTaskButtonDesctopAndMobile {
        display: block;
    }
    .previewOpenTaskButtonTablet {
        display: none;
    }

    /* ==== Task ==== */

    .taskQuestionAndInspectionDataWrapper {
        height: auto;
        overflow: auto;
    }

    .taskQuestion {
        font-size: 16px;
        line-height: 25px;
    }

    .taskInspectionDataWrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .taskInspectionDataItem {
        width: 100%;
    }

    .taskInspectionDataItemHeader {
        height: 50px;
    }

    .taskInspectionDataHeadline {
        font-size: 16px;
    }

    .taskForward {
        width: 20px;
        height: auto;
    }

    .questionHeadlineAndInput {
        margin-bottom: 20px;
    }


    .questionsHeadline {
        font-size: 22px;
    }

    .questionHeadline {
        font-size: 14px;
    }

    .questionInputs {
        height: auto;
        overflow: auto;

    }

    .questionInput {
        height: 40px;
        font-size: 14px;
    }

    .questionsWrapper {
        padding-bottom: 1px;
    }

    .taskSendWrapper {
        margin-top: 20px;

    }

    .taskSend {
        width: 150px;
        height: 50px;

        font-size: 16px;
    }

    /* ==== MyProfile ==== */
    .myProfileInfoTelGmailWrapperDesctopV {
        display: none;
    }

    .myProfileInfoTelGmailWrapperMobileV {
        display: block;
    }
    .myProfile {
        margin-bottom: 60px;
    }

    .myProfileWrapper {
        height: auto;
        background: none;
        padding-bottom: 100px;

        padding: 10px;
    }

    .myProfileHeader {
        margin: 20px 0;
    }

    .myProfileHeadline {
        font-size: 25px;
    }

    .myProfileChange {
        display: none;
    }

    .myProfileBody {
        flex-direction: column;
    }

    .myProfileChangePancel {
        display: inline;

        width: 20px;
        height: auto;
    }

    .myProfileInfoAvatar {
        width: 80px;
        height: auto;
    }

    .myProfileInfoName {
        margin-bottom: 5px;

        font-size: 20px;
        font-weight: 200;
        letter-spacing: 0;
    }

    .myProfileInfoTelGmailWrapper {
        margin-top: 40px;
    }

    .myProfileInfoTelWrapper {
        margin-bottom: 10px;
    }

    .myProfileInfoTelGmail {
        font-size: 16px;
    }

    .myProfileInfoTelGmailIcon {
        width: 20px;
        height: auto;

        margin-right: 10px;
    }

    .myProfileInfoCityUnivercity {
        margin-top: 40px;
    }

    .myProfileInfoPropWrapper {
        margin-bottom: 10px;
    }
 

    .myProfileFooter {
        flex-direction: column;
    }

    .myProfileCol {
        width: 100%;
    }

    .myProfileTarifWrapper,
    .buyProVersionWrapper {
        margin-top: 40px;

        height: auto;
    }

    .myProfileTarif {
        width: 100%;

        border: none;
        background-color: #fff;
        
        padding: 10px 20px;
    }

    .myProfileTarifHeadlineWrapper {
        margin: 10px 0;
    }

    .myProfileTarifHeadline {
        font-size:  22px;
    }

    .myProfileTarifOffer {
        font-size: 14px;
    }


    

    .buyProVersionPoliticsOfertaWrapper {
        margin-top: 20px;
    }

    .buyProVersion {
        width: 100%;

        padding: 30px;

        background-color: #fff;
    }

    .buyProVersionTextP {
        font-size: 25px;
    }
    .upgradeStars {
        width: 100px;
    }

    .buyProVersionPoliticsOfertaWrapper {
        flex-direction: column;

    }

    .buyProVersionPoliticsOferta {
        margin: 10px 0;

        letter-spacing: 0;
    }

    /* ==== Chat ==== */
    .chat {
        width: 100%;
    }

    

    .headerChatWrapper {
        border: none;
    }

    .headerChat {
        width: 70%;

        display: flex;
        justify-content: center;

        padding: 5px 15px;

        
        border: 2px solid #92b7ff;
        border-radius: 15px;
    }

    .headerChatAvatar {
        width: 30px;
    }

    .headerChatName {
        font-size: 14px;
    }

    .bodyChat {
        height: 60vh;
    }

    .bodyChatMessageWrapper {
        max-width: 90%;
        
    }

    .bodyChatMessageWrapper.meMessage {
        margin-right: 10px;
    }

    .bodyChatAvatar {
        width: 30px;
        height: auto;
    }

    .bodyChatMessageWrapper {
        padding: 10px;
    }

    .bodyChatMessage {
        font-size: 14px;
    }

    .footerChat {
        max-height: 60px;
        height: 50px;

        padding: 10px;
    }

    .footerChatInputWrapper {
        width: 60%;
    }

    .footerChatTextarea {
        max-height: 30px;
        font-size: 14px;
    }

    .footerChatButtonsWrapper {
        width: 35%;
    }

    .footerChatSIconPlus {
        width: 20px;
        height: auto;
    }

    .footerChatButtonSend {
        width: 50px;
        height: 35px;
    }

    .footerChatImgSendAir {
        width: 20px;
    }
   
}